<md-list class="main">
  <md-item ng-repeat="item in ctrl.items">
	<md-item-content>
			<md-button layout-fill ng-click="ctrl.selected(item)">				
				<div layout="row" layout-align="start start">					
					<div>
						<md-icon md-font-icon="fi-book" alt="{{item.title}}"/>
					</div> 
					<div layout-fill layout="column" layout-align="center start">
						<h3>{{item.title}}</h3>
						<h4>
							<span ng-repeat-start="author in item.authors">{{author.name}}</span><!-- 
							--><span ng-repeat-end ng-if="!$last">, </span>
						</h4>
					</div>
				</div>
			</md-button>
	</md-item-content>
  </md-item>
</md-list>