<div layout="column" layout-align="space-between center">
	<md-list class="main" layout="column" layout-align="start start" layout-fill>
		<md-item ng-repeat="item in ctrl.items" layout-fill>
			<md-item-content>
				<md-button layout-fill ng-click="ctrl.selected(item)">
					<div layout="row" layout-align="start start">
						<div>
							<md-icon md-font-icon="fi-book" alt="{{item.title}}"/>
						</div>
						<div layout-fill layout="column" layout-align="center start">
							<h3>{{item.title}}</h3>
							<h4>
								<span ng-repeat-start="author in item.authors">{{author.name}}</span><!-- 
								--><span ng-repeat-end ng-if="!$last">, </span>
							</h4>
						</div>
					</div>
				</md-button>
			</md-item-content>
		</md-item>
	</md-list>
	<div layout="row" layout-align="space-between center" layout-fill>
		<div></div>
		<div>
			<md-button class="md-fab md-primary" aria-label="Add book" ng-click="ctrl.add()">
				<md-icon md-font-icon="fi-plus" title="Add book"/>
			</md-button>
		</div>
	</div>
</div>

