<md-item-content flex layout-align="start start" layout="column">
    <div flex layout="row" layout-fill>
    	<md-button ng-click="ctrl.toggle(item)">
    		<md-icon md-font-icon="{{ctrl.icon(item)}}" alt="{{item.name}}"/>
    	</md-button>
		<md-button layout-fill ng-click="ctrl.selected(item, $event)">
			<h3>{{item.name}}</h3>
		</md-button>
    </div>
	<div flex layout="row" layout-fill ng-if="item.expanded">
		<div class="tree-strut"></div>
		<md-list layout="column" layout-fill>
			<div ng-repeat="item in item.children" ng-include="'partial/categoryItem.html'"/>
		</md-list>
	</div>
</md-item-content>