<form name="form">
	<div layout="column">
		<md-input-container>
			<label>Title</label>
			<input type="text" ng-model="ctrl.book.title" name="title" required>
			<div class="errors" ng-messages="form.title.$error">
				<div ng-message="required">Required</div>
			</div>				
		</md-input-container>

		<span class="md-subhead">Authors</span>
		<md-whiteframe class="md-whiteframe-z1" layout-padding layout="column">
			<div layout-fill layout="row" layout-align="space-between center" ng-repeat="author in ctrl.selectedAuthors(true)">
				<div>{{author.name}}</div>
				<md-button class="md-raised" ng-click="ctrl.removeAuthor($index)">Remove</md-button>
			</div>
			<div layout-fill layout="row" layout-align="space-between center" ng-if="ctrl.selectedAuthors(false).length > 0">
				<md-select layout-fill ng-model="ctrl.author">
					<md-option ng-value="author" ng-repeat="author in ctrl.selectedAuthors(false)">{{author.name}}</md-option>
				</md-select>
				<md-button style="margin-left: 8px;" class="md-raised" ng-disabled="!ctrl.author" ng-click="ctrl.addAuthor()">Add</md-button>
			</div>
			<div class="feedback" ng-if="ctrl.selectedAuthors(true).length == 0">Required</div>
		</md-whiteframe>

		<span class="md-subhead">Category</span>
		<md-whiteframe class="md-whiteframe-z1 md-input-container" ng-class="{'md-input-invalid' : form.category.$invalid}" layout-padding layout="column">
			<md-select layout-fill ng-model="ctrl.category" name="category" placeholder="Choose" required>
				<md-option ng-value="category" ng-repeat="category in ctrl.categories">{{category.path}}</md-option>
			</md-select>
			<div class="errors" ng-messages="form.category.$error">
				<div ng-message="required">Required</div>
			</div>		
		</md-whiteframe>

		<div layout="row" flex layout-align="end center" style="margin-top: 8px;">
			 <md-button class="md-raised md-primary" ng-click="ctrl.save()" ng-disabled="form.$invalid || ctrl.selectedAuthors(true).length == 0">Save</md-button>
		</div>
	</div>
</form>
