<div layout="column">
	<div layout="column" layout-padding>
		<div flex layout="column">
			<small>Title</small>
			<div>{{ctrl.book.title}}</div>
		</div>

		<div flex layout="column">
			<small>Publish date</small>
			<div>{{ctrl.book.publishDate | epochDaysDate}}</div>
		</div>

		<div flex layout="column">
			<ng-switch on="ctrl.book.authors.length">
				<small ng-switch-when="1">Author</small>
				<small ng-switch-default>Authors</small>
			</ng-switch>	
			<div>
				<span ng-repeat-start="author in ctrl.book.authors">{{author.name}}</span><span ng-repeat-end ng-if="!$last">, </span>
			</div>
		</div>

		<div flex layout="column">
			<small>Category</small>
			<div>{{ctrl.book.category.name}}</div>
		</div>
	</div>

	<div layout="row" flex layout-align="end center" style="margin-top: 8px;">
		<md-button class="md-raised md-warn" ng-click="ctrl.remove()">Delete</md-button>
	</div>
</div>