.md-button .md-font {
	font-size: 48px;
}

.md-button h4 {
	margin-top: 0px;
}

.md-button.md-fab md-icon {
	margin-top: -30px;
	margin-left: -10px;
}

.md-button.md-raised {
	width: 76px;
}

.md-whiteframe-z1 div:not(:last-child)[layout=row] {
	margin-bottom: 8px;
}

.md-whiteframe-z1 [ng-message], .md-whiteframe-z1 .feedback {
  font-size: 12px;
  line-height: 24px;
}

.md-whiteframe-z1 {
	margin-bottom: 26px;
}

md-list.main md-icon {
	width: 48px;
	height: 48px;
	margin: 16px;
}

.menu-icon {
	background: none;
	border: none;
	margin-right: 16px;
	padding: 0;
}

.tree-strut {
	width: 44px;
}

.main .md-button h3 {
	text-align: left;
	text-transform: none;
	font-weight: normal;
}